<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
    .btn{
        width: 100px;
        margin: 0 10px !important;
        color: aliceblue;
    }
</style>


<div class="card text-white bg-danger mb-3" style="width: 60%;">
  <div class="card-header">Header</div>
  <div class="card-body alert-danger">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text text-danger">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" id="finalDel" dataId={{id}} class="btn bg-danger float-right">Delete</a>
    <a href="/" class="btn bg-primary float-right">Back</a>


  </div>
</div>