<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
</style>
        <div class="card " style="width: 60%;">
        <div class="card-body">
            <p class="card-text">Scrape data succeeded!</p>
            <a href="/" class="btn btn-success float-right">Back to Articles</a>
        </div>
        </div>

